/* $Id: vertical_tabs.garland.css,v 1.1.2.2 2009/01/06 03:45:38 quicksketch Exp $ */

/**
 * @file
 *   Color module support for Vertical Tabs. Do not change the contents of this
 *   file! This file is automatically copied to the files directory when the
 *   theme settings are changed for Garland. It is not compatible with other
 *   color-module enhanced themes.
 */

div.vertical-tabs {
  background: #FFF url(gradient-inner.png) repeat-x 0 0;
  margin: 1em 0;
}

/* Normal tab colors */
div.vertical-tabs ul.vertical-tabs-list li {
  background: #EDF5FA none;
  border-color: #D9EAF5;
}

/* Selected tab colors */
div.vertical-tabs ul.vertical-tabs-list li.selected {
  background-color: transparent;
}

div.vertical-tabs ul.vertical-tabs-list li.selected a {
  color: #494949;
}

/* Border style of content */
div.vertical-tabs-div,
div.vertical-tabs ul.vertical-tabs-list {
  border-color: #D9EAF5;
}

div.vertical-tabs-div {
  border-left: none;
}
